<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link href="style.css" rel="stylesheet">

<script>
    function alerta(){
        alert("Cadastro realizado com sucesso");
    }
</script>
</head>

<body>
    <img id="logo" src="..\assets\LOGO.png"/>

    <div id="form_borda">
        <div id="form_icons">
            <img id="icon" src="../assets/do_utilizador.png"/>
            <label id="cadastro">Cadastre-se</label>
        </div>
        
        <form>
            <label class="l85">Rua</label> 
            <br>
            <input type="text" v-model="rua" required/>
            <br>
            <label class="l85">Cidade</label>
            <br>
            <input type="text" v-model="cidade" required/>
            <br>
            <label class="l85">Cep</label>
            <br>
            <input type="text" v-model="cep" required/>
            <br>
            <label class="l85">Numero</label>
            <br>
            <input type="number" v-model="numero" required/>
            <br>
            <label class="l55">Bairro</label>
            <br>
            <input type="text" v-model="bairro" required/>
            <br>
            <label class="l84">Referência</label>
            <br>
            <input type="text" v-model="referencia" required/>
            <br>
            <br>
            <input class="submit" type="submit" value="Criar um cadastro" onclick="alerta()"/>
        </form>
    </div>
    
</body>

</html>