<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylePerfil.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>    
    <div class="content">
        <div id="b1" class="box">
            <h1>Sistema de Marketplace Anything</h1>
        </div>
        
        <div id="b2" class="box">
            <div class="muda" id="comercio">
                <a href="/meus_dados">
                <div id="idLaranja" class="button is-rounded">                    
                    <strong>Minha Conta</strong>
                </div>
                </a>
            </div>
            <br>
            <div class="muda" id="endereco">
                <a href='/meu_endereco'>
                    <div id="idLaranja" class="button is-rounded">
                        <strong>Meu Endereço</strong>
                    </div>
                </a>
            </div>
            <br>
            <div class="muda" id="comercio">
                <a href="/comercio">
                    <div id="idLaranja" class="button is-rounded">
                        <strong>Criar comércio</strong>
                    </div>
                </a>
            </div>
        </div>

        <div id="b3" class="box"> 
            <form action="/set-loja" method="POST">
                
                <h1>Nome da Loja: </h1>
                <input class="input is-rounded" placeholder="Nome da loja" type="text" id="nomeLoja" name="nomeLoja" value="{{nomeLoja}}"></br></br>
                
                <h2>Descricao: </h2>
                <input class="input is-rounded" placeholder="ex: Loja de Roupas" type="text" id="descricao" name="descricao" value="{{descricao}}"></br></br>
                <h3>CNPJ: </h3>
                <input class="input is-rounded" placeholder="ex: 33.014.556/0001-96." type="text" id="cnpj" name="cnpj" value="{{cnpj}}"></br></br>
            
                <input class="button is-rounded" type="submit" value="Editar Campos da Loja"><br><br>
            </form>
            <a href="del-loja"><button>Excluir Loja</button></a><br><br>

            {{#each produtos}}
            <div class="b">
                <label>Id: {{id}}</label><br><br>
                <label>Nome: {{nomeProduto}}</label><br><br>
                <label>Valor: {{valorProduto}}</label><br><br>
                <label>Descricao: {{descricaoProduto}}</label><br><br>
                
            </div>
            {{/each}}
                                    
            <form action="/comercio-p" method="POST">
                <h2>Adicionar Produto</h2><br><br>
                <label>Nome: </label>
                <input class="input is-rounded" placeholder="Nome do produto" required type="text" id="nome" name="nome">
                <label>Valor: </label>
                <input class="input is-rounded" placeholder="ex: 10,90" required type="number" id="valor" name="valor">
                <label>Descricao: </label>
                <input class="input is-rounded" placeholder="ex: Camiseta regata" required type="text" id="descricaoProduto" name="descricaoProduto"></br></br>
                <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}></br>

                <input class="button is-rounded is-success" type="submit" value="Criar"/> <br><br>
            </form>

            <form action="del-produto" method="POST">
                <h2>Excluir Produto</h2><br>
                <label>Id do Produto: </label>
                <input class="input is-rounded" placeholder="ex: 1" type="number" id="id" name="id">
                <br><br>
                <input class="input is-rounded" type="submit" value="excluir produto"/>
                <br><br>
            </form>

            <form action="/edit-produto" method="POST" class="columns">

                <h2>Editar Produto</h2><br><br>
                <div>
                    <label>Id do Produto:</label>
                    <input class="input is-rounded" placeholder="ex: 02" type="number" id="id" name="id">
                </div>
                <br><br>
                <div>
                    <label>Nome:</label>
                    <input class="input is-rounded" placeholder="ex: Camiseta preta" required type="text" id="nome" name="nomeProduto">
                </div>
                </br></br>
                <div>
                    <label>Valor:</label>
                    <input class="input is-rounded" placeholder="ex: 35,00" required type="number" id="valor" name="valorProduto">
                </div>
                <br><br>
                <div>
                <div>
                    <label>Descricao: </label>
                    <input class="input is-rounded" placeholder="ex: Camiseta 100% algodão" required type="text" id="descricaoProduto" name="descricaoProduto"></br></br>
                </div>
                <input hidden type="text" id="cpfDono" name="cpfDono" value={{cpf}}></br></br>
                <input class="button is-rounded is-info"type="submit" value="Editar"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>