<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/home.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="content">
        <div id="b1" class="box">
                <img id="logoMenu" src="../assets/LOGO.png">
                <a href="/login">
                    <img id="perfilMenu" src="../assets/lLogin.png">
                </a>
        </div>
    </div>

    <div id="lojas">
            <div class="borda-loja">
                <form action="/produtos-loja" method="POST">
                    <img class="loja" src="../assets/loja1.jpg"><br><br>
                    <input type="hidden" value="1111111" name="cpfDono">
                    <button type="submit">Entrar na loja 1</button>
                </form>

            </div>
                
            <div class="borda-loja">
                <form action="/produtos-loja" method="POST">
                    <img class="loja" src="../assets/loja2.jpg"><br><br>
                    <input type="hidden" value="2222222" name="cpfDono">
                    <button type="submit">Entrar na loja 1</button>
                </form>
                
            </div>
                
            <div class="borda-loja">
                <form action="/produtos-loja" method="POST">
                    <img class="loja" src="../assets/loja3.jpg"><br><br>
                    <input type="hidden" value="3333333" name="cpfDono">
                    <button type="submit">Entrar na loja 1</button>
                </form>
                
            </div>
                
        
    </div>
</body>
</html>