body{
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  background-color: lightblue;
  height: 100%;
  width: 30%;
  margin: 8px;
}

#b1{
    width: 100%;
}

#b2{
    width: 30%;
}

#b3{
    width: 67%;
}

#b3 label{
    font-size: 20px;
    margin: 10px;
}

div#dados, div#endereco, div#comercio, .b{
    border: 1px solid black;
}
.blank{
    background-color: aliceblue;
    padding: 2px 2px 2px 2px;
    font-size: 10px;
}

.muda:hover{
    background-color: white;
}

button{
    margin-left: 30px;
    margin-bottom: 20px;
}

.loja{
    margin-top: 10px;
}

.borda-loja{
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    background-color: #c0c0c0;
}

.box{
    background-color: #F29F05;
}

#logoMenu{
    height: 80px;
    padding-left: 40px;
}

#perfilMenu{
    height: 60px;
    padding-left: 800px;
}

#fLogin{
    color: white;
    padding-left: 10px;
    padding-top: 80px;
}




